* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}

.container {
    background-color: gray;
    width: fit-content;
    height: 500px;
    margin: 0 auto;
}

.box {
    margin: 30px;
    float: left;
}

.box-1 {
    background-color: red;
    width: 150px;
    height: 100px;
}

.box-2 {
    background-color: blue;
    width: 150px;
    height: 150px;
}

.box-3 {
    background-color: yellow;
    width: 150px;
    height: 100px;
}

.box-4 {
    background-color: red;
    width: 150px;
    height: 100px;
}

.box-5 {
    background-color: yellow;
    width: 150px;
    height: 100px;
    float: right;
    clear: left;
}

.box-6 {
    background-color: blue;
    width: 150px;
    height: 150px;
    float: right;
}

.container p {
    float: left;
    clear: both;
    margin: 20px;
}